<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="broder">
        <from action="/dashboard" method="post">
          <table align="center">
            <tr>
              <td>
                <h1>wellcome to dashboard page..!!</h1>
              </td>
            </tr>
            <tr>
              <td>  
                <div class="tag">
                  <a href="/login"><button  class="button_l" value="submit" name="submit">Login</button></a>
                </div>
              </td>
            </tr>
          </table>
        </form>
      </div>
</body>
</html>