<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Document</title>
</head>
<body>
   <form action="/new_pass" method="post">
        <table cellpadding="5">
            <tr>
              <td colspan="2" align="center">
                <img src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" width="48px" height="52" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <h2 class="head_l">New password</h2>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center"><input class="login_input" placeholder="create new password" name="create" size="48" /></td>              
            </tr>
            <tr>
              <td colspan="2" align="center"><input class="login_input" placeholder="confiom new password" name="confiom" size="48" /></td>

            </tr>
            <tr>
              <td colspan="2" align="center">
                <button  class="button_l" value="submit" name="submit">submit</button>
              </td>
            </tr>
          </table>
   </form> 
</body>
</html>