<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="broder">
      <form action="/register" method="POST">
      <table cellpadding="5">
          <tr>
            <td colspan="2" align="center">
              <img src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" width="48px" height="52" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h2 class="head_l">New Register</h2>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input class="login_input" type="email" placeholder="Email address" size="48" /></td>
          </tr>
          <tr>
            <td colspan="2"><input class="login_input" type="password" placeholder="Password" size="48" /></td>
          </tr>
          <tr>
            <td align="right"><a href="/login">Sign in</a></td>
          </tr>
          <tr>
            <td colspan="2">
              <!-- <input class="button_l" type="submit" value="Sign Up" /> -->
              <button class="button_l" >Submit</button>
            </td>
          </tr>
        </table>
      
      
      </form>
    </div>  
  </body>
</html>
